:root {
  --mainColor: burlywood;
  --userColor: CDD9EE;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  color: burlywood;
  background-image: url("img/coffee-background.jpg");
  background-attachment: fixed;
}

.icon {
  height: 5em;
  width: 5em;
  float: right;
  margin-left: 15em;
}

#coffees {
  border: 5px solid var(--mainColor);
}

#coffee-container {
  float: left;
  width: 50%;
}

.coffee {
  width: auto;
}

.roastType {
  float: left;
  align-items: flex-end;
  margin-top: 3em;
}
